@import '../../assets/styles/common-styled.scss';

.chat {
  font-family: 'Poppins', sans-serif;
  padding: 2rem 0 0 0;
  background-color: $secondary-color;

  .ce-settings {
    font-family: 'Poppins', sans-serif !important;
    border-left: 0 !important;
    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }
  .spinner {
    border: 16px solid $grey-color; /* Light grey */
    border-top: 16px solid $primary-color; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
