@import '../../assets/styles/common-styled.scss';

.chat {
  font-family: 'Poppins', sans-serif;
  padding: 2rem 0 0 0;
  background-color: $secondary-color;

  .ce-settings {
    font-family: 'Poppins', sans-serif !important;
    border-left: 0 !important;
    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }
}
