@import '../../../assets/styles/common-styled.scss';

.chat {
  &-feed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-left: 1px solid $light-grey-color;
  }
  &-information-wrapper {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: $white-color;
  }

  &-pane {
    border-radius: 1rem;
    padding: 2rem 1rem 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    max-height: 100%;
  }

  &-details {
    overflow-y: auto;
    flex: auto;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding-right: 1rem;
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $grey-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $dark-grey-color;
      opacity: 0.8;
      border-radius: 1rem;
      transition: 0.8s linear;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &-read-avt {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    margin-left: 7rem;
  }
  &-bubble-wrapper {
    display: flex;
    flex-direction: column;
    &.mine {
      align-items: flex-end;
    }
  }

  // float input pane
  &-input-container {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    border-top: 1px solid $light-grey-color;
  }

  &-input {
    width: 100%;
    border-radius: 1rem;
    border: none;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    background-color: $grey-color;
    &::placeholder {
      color: $dark-grey-color;
    }
  }
  &-send {
    font-size: 3rem;
    color: $primary-color;
    border: none;
    margin-left: 1rem;
    background-color: transparent;
    height: 100%;
    border-radius: 1rem;
    transition: 0.5s;
    &:hover {
      background-color: $grey-color;
    }
  }
}
