@import '../../../../assets/styles/common-styled.scss';

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-detail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    img {
      object-fit: cover;
      object-position: center;
    }
    &::before {
      content: '';
      background-color: $grey-color;
      box-shadow: 0 0 0 2px $dark-grey-color;
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
      z-index: 1;
      border-radius: 50%;
    }
    &.active::before {
      background-color: #52bd58;
      box-shadow: 0 0 0 2px $white-color;
    }
  }

  &-time {
    color: $dark-grey-color;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.2rem;
    .friend-name {
      text-overflow: ellipsis;
      max-width: 30rem;
      overflow: hidden;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      font-weight: bold;
      color: $black-color;
    }
    .friend-last-message {
      color: $dark-grey-color;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      max-width: 30rem;
      overflow: hidden;
    }
  }
}
