@import '../../../../assets/styles/common-styled.scss';
.bubble {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  word-break: break-all;
  &-avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: center;
  }
  &-message {
    padding: 1rem 1rem;
    background-color: $grey-color;
    width: fit-content;
    margin-left: 2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    a {
      color: inherit;
    }
  }
  &.mine {
    justify-content: flex-end;
    .bubble-avatar {
      display: none;
    }
    .bubble-message {
      background-color: $primary-color;
      color: $secondary-color;
    }
  }
}
