html,
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

:root {
  --blue-color: #4081ec;
  --dark-color: #121212;
  --grey-color: #b1b1b1;
  --white-color: #fbfbfb;
  --primary-color: var(--blue-color);
  --secondary-color: var(--white-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body,
#root {
  font-size: 1.6rem;
  height: 100vh;
}

button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
  outline: none;
}
textarea {
  resize: none;
}

button {
  cursor: pointer;
}

.spinner {
  border: 16px solid #eff1f7; /* Light grey */
  border-top: 16px solid #4081ec; /* Blue */
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
