@import '../../../assets/styles/common-styled.scss';

.chat-list {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  height: 100%;
}

.chat-logout-btn {
  margin: 0;
  background-color: transparent;
  color: $primary-color;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem 1rem;
  &:hover {
    color: $black-color;
    text-decoration: underline;
  }
}

.chat-me {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.chat-friend-container {
  padding: 3rem 0;
  border-top: 1px solid $light-grey-color;
  flex: 1 0 auto;
}

// search
.chat-find-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.chat-search {
  border-radius: 1rem;
  border: none;
  background-color: $grey-color;
  color: $black-color;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  outline: none;
  z-index: 0;
  flex: 1 1 auto;

  &::placeholder {
    color: $dark-grey-color;
  }
  &-icon {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    color: $dark-grey-color;
    transition: visibility 0s, opacity 0.5s linear;
  }
  &:focus ~ &-icon {
    visibility: hidden;
    opacity: 0;
  }
}

.chat-friend-list {
  margin-top: 0.5rem;
  padding: 3rem 0;
}
.chat-friend-item {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: $grey-color;
    cursor: pointer;
  }
  &.active {
    background-color: $grey-color;
  }
}
