@import '../../../../assets/styles/common-styled.scss';

.me {
  display: flex;
  justify-content: start;
  align-content: center;
  width: 100%;
  &-avartar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    img {
      object-fit: cover;
      object-position: center;
    }
    &::before {
      content: '';
      background-color: #52bd58;
      box-shadow: 0 0 0 2px $white-color;
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
      z-index: 1;
      border-radius: 50%;
    }
  }
  &-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2.2rem;
    max-width: 70%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    h4 {
      width: 100%;
      font-size: 1.6rem;
      font-weight: bold;
      color: $black-color;
    }
    .chat-logout-btn {
      margin: 0;
      background-color: transparent;
      color: $primary-color;
      font-size: 1.6rem;
      font-weight: 600;
      margin-top: 1rem;
      padding: 0rem 0rem 0rem 0rem;
      transition: all 0.2s linear;
      &:hover {
        color: $black-color;
        text-decoration: underline;
      }
    }
  }
}
